
<p>Slug: {{ slug }}</p>
<p *ngIf="tournament">Tournament found: {{ tournament.name }}</p>
<p *ngIf="!tournament">Tournament NOT found</p>


<ng-container *ngIf="tournament; else noTournament">
    <div class="tournament-banner" [style.backgroundImage]="'url(' + tournament.image + ')'">
      <img class="tournament-logo" [src]="tournament.logo" alt="Logo" />
      <div class="tournament-overlay">
        <h1>{{ tournament.name }}</h1>
        <p>{{ tournament.date }} - {{ tournament.location }}</p>
      </div>
    </div>
  
    <div class="tournament-body">
      <h2>{{ tournament.gameTitle }}</h2>
      <p class="tournament-description">{{ tournament.description }}</p>
  
      <button class="join-button">Join Tournament</button>
      <p class="attendees">{{ tournament.attendees }}/{{ tournament.maxAttendees }} participants</p>
  
      <div class="screenshots">
        <img *ngFor="let shot of tournament.screenshots" [src]="shot" alt="Tournament screenshot" />
      </div>
    </div>
  </ng-container>
  
  <ng-template #noTournament>
    <p>Tournament not found.</p>
  </ng-template>
  