.bg-black-semi {
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
.nav-profile-icon {
  width: 60px;  
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  object-fit: cover;
  transition: box-shadow 0.3s ease;
}

.nav-profile-icon:hover {
  box-shadow: 0 0 8px #504dfd;
}
